h3 {    
  text-decoration: 15ex;
  padding-top: 5ex;
  color: blue;
}

.content {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .content {
      width: 100%;
  }
}