* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  color:white;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.btn-white {
  color: black;
  background-color: white;
  padding: 7px;

  border-radius: 7px;

  text-decoration: none;
  transition: all 10ms ease;
}

.btn-white:hover {
  color: white;
  background-color: transparent;

  border: 1px white solid;
}